.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._container {
  max-width: 1146px;
  margin: 0 auto;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #0a143a;
  background-color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

input,
input:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

button {
  outline: none;
  background: none;
  border: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.header {
  padding: 30px 0;
  margin-bottom: 12px;
}

.header .navbar-panel {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header .navbar-menu {
  margin-right: auto;
}

.header .navbar-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 22px;
}

.header .navbar-menu .menu-item:not(:last-child) {
  margin-right: 14px;
}

.header .navbar-menu .menu-link {
  position: relative;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header .navbar-menu .menu-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #256eeb;
  -webkit-transition: width .3s ease-out;
  -o-transition: width .3s ease-out;
  transition: width .3s ease-out;
}

.header .navbar-menu .menu-link:hover,
.header .navbar-menu .menu-link:hover:after {
  color: #256eeb;
  width: 100%;
}

.header .button-menu {
  display: none;
}

.header .button-menu__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.header .button-menu__wrapper:before,
.header .button-menu__wrapper:after,
.header .button-menu__wrapper span {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  background-color: #000;
}

.header .button-menu__wrapper:before {
  top: 0;
}

.header .button-menu__wrapper:after {
  bottom: 0;
}

.header .button-menu__wrapper span {
  top: 6px;
}

.header .button-menu__wrapper.open:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 6px;
}

.header .button-menu__wrapper.open:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 6px;
}

.header .button-menu__wrapper.open span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.header .search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
}

.header .search-panel .search-input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #fff;
  border-radius: 5px;
  padding: 0 22px;
}

.header .search-panel .search-button {
  background-color: #256eeb;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.header .search-panel .search-button__text {
  margin-left: 5px;
}

.button-group .button {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.button-group .button-link {
  color: inherit;
}

.button-group .button-primary {
  color: #fff;
  background: #256eeb;
}

.content ._container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: 28px auto;
  gap: 23px 10px;
}

.content .main-title,
.content .service-title {
  -ms-flex-item-align: end;
  align-self: end;
  font-weight: 700;
}

.content .main-title {
  font-size: 24px;
  line-height: 28px;
}

.content .service-title {
  font-size: 18px;
  line-height: 21px;
}

.content .main .content-title {
  font-size: 24px;
  line-height: 28px;
}

.content .main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content .main .cards .card {
  margin-bottom: 35px;
  max-width: 264px;
  margin-right: 20px;
}

.content .main .cards .card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  -o-object-fit: cover;
  object-fit: cover;
}

.content .main .cards .card-header {
  margin-top: 8px;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content .main .cards .card-header__title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
}

.content .main .cards .card-header .like {
  cursor: pointer;
}

.content .main .cards .card-header .like-icon.active path {
  fill: #256eeb;
}

.content .main .cards .card-price {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #0a143a;
  margin-bottom: 10px;
}

.content .main .cards .card-text {
  margin-bottom: 4px;
  color: #c4c4c4;
}

.content .sidebar .service:not(:last-child) {
  margin-bottom: 25px;
}

.content .sidebar .service-title {
  color: #0a143a;
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 5px;
}

.content .sidebar .service-text {
  color: #0a143a;
  max-width: 217px;
}

.footer {
  margin-top: 18px;
}

.footer-text {
  color: #c4c4c4;
}

.footer-menu {
  margin-bottom: 16px;
}

.footer-menu__item {
  margin-top: 5px;
}

.footer-menu__link {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #c4c4c4;
}

.footer-link {
  color: inherit;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.footer-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #256eeb;
  -webkit-transition: width .3s ease-out;
  -o-transition: width .3s ease-out;
  transition: width .3s ease-out;
}

.footer-link:hover,
.footer-link:hover:after {
  color: #256eeb;
  width: 100%;
}

.single-content ._container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.single-content ._container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.single-content ._container .main .content {
  max-width: 460px;
}

.single-content ._container .main .content-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.single-content ._container .main .content .mySwiper2 {
  height: 357px;
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
}

.single-content ._container .main .content .mySwiper {
  padding: 10px 0px;
}

.single-content ._container .main .content .mySwiper .swiper-slide {
  width: 68px !important;
  height: 53px !important;
  height: 100%;
  opacity: .4;
}

.single-content ._container .main .content .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.single-content ._container .main .content .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 3px;
}

.single-content ._container .main .content .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.single-content ._container .main .content-text {
  line-height: 140%;
  margin-top: 20px;
}

.single-content ._container .main .author {
  margin-left: 30px;
  min-width: 264px;
}

.single-content ._container .main .author .single-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.single-content ._container .main .author-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0 30px;
}

.single-content ._container .main .author-info__name {
  font-weight: 700;
}

.single-content ._container .main .author-info .rating {
  margin-top: 4px;
}

.single-content ._container .main .author-info .rating-counter {
  opacity: .5;
  margin-left: 8px;
}

.single-content ._container .main .author-info__status {
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
}

.single-content ._container .main .author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.single-content ._container .main .author .button-group .button {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  height: 54px;
}

.single-content ._container .main .author .button-group .button-success {
  background: #14b4be;
  color: #fff;
}

.single-content ._container .sidebar {
  width: 100%;
}

.single-content ._container .sidebar-banner {
  display: block;
  margin-bottom: 7px;
}

.single-content ._container .sidebar-banner img {
  height: 185px;
  width: 100%;
}

.single-content ._container .sidebar .footer {
  margin-top: 18px;
}

.single-content ._container .sidebar .footer-text {
  color: #c4c4c4;
}

.single-content ._container .sidebar .footer-menu {
  margin-bottom: 16px;
}

.single-content ._container .sidebar .footer-menu__item {
  margin-top: 5px;
}

.single-content ._container .sidebar .footer-menu__link {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #c4c4c4;
}

.single-content ._container .sidebar .footer-link {
  color: inherit;
  font-size: 12px;
  line-height: 14px;
}

@media (max-width: 1200px) {
  ._container {
    max-width: 960px;
  }

  .content .main .cards .card {
    max-width: initial;
    width: 45%;
  }

  .content .main .cards .card-image {
    width: 100%;
    height: 200px;
  }

  .single-content ._container .main .content {
    max-width: 375px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 740px;
  }

  .content .main .cards .card-image {
    height: 150px;
  }

  .single-content ._container {
    grid-template-columns: 8fr 4fr;
  }

  .single-content ._container .main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
  }

  .single-content ._container .main .content {
    max-width: initial;
    width: 100%;
  }

  .single-content ._container .main .author {
    margin-left: 0;
    margin-top: 20px;
  }

  .single-content ._container .sidebar-banner img {
    height: 155px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: 560px;
  }

  .header .navbar-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, -webkit-transform .2s;
    -o-transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s, -webkit-transform .2s;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    z-index: 10;
  }

  .header .navbar-panel.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  .header .navbar-menu {
    margin-left: auto;
    margin-bottom: 20px;
  }

  .header .navbar-menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header .navbar-menu .menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header .button-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 15px;
    z-index: 15;
  }

  .button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .content ._container {
    grid-template-columns: 8fr 4fr;
  }

  .content .main .cards .card {
    width: 100%;
  }

  .single-content ._container {
    grid-template-columns: 12fr;
  }

  .single-content ._container .main .content .mySwiper2 {
    height: 420px;
  }

  .single-content ._container .sidebar-banner {
    display: inline-block;
  }
}

@media (max-width: 576.98px) {
  ._container {
    max-width: 90%;
  }

  .header .search-panel .search-button__text {
    display: none;
  }

  .content ._container {
    grid-template-columns: 12fr;
  }

  .content .main .cards .card {
    margin-right: 0px;
  }

  .content .main .cards .card-image {
    height: 250px;
  }

  .single-content ._container .main .content .mySwiper2 {
    height: 250px;
  }
}