.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1146px;
  margin: 0 auto;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #0a143a;
  background-color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}

input,
input:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

button {
  outline: none;
  background: none;
  border: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.header {
  padding: 30px 0;
  margin-bottom: 12px;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.header .navbar-menu {
  margin-right: auto;
}

.header .navbar-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 22px;
}

.header .navbar-menu .menu-item:not(:last-child) {
  margin-right: 14px;
}

.header .search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
}

.header .search-panel .search-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #fff;
  border-radius: 5px;
  padding: 0 22px;
}

.header .search-panel .search-button {
  background-color: #256eeb;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search-panel .search-button__text {
  margin-left: 5px;
}

.button-group .button {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.button-group .button-link {
  color: inherit;
}

.button-group .button-primary {
  color: #fff;
  background: #256eeb;
}

.content ._container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-template-rows: 28px auto;
  gap: 23px 30px;
}

.content .main-title,
.content .service-title {
  -ms-flex-item-align: end;
      align-self: end;
  font-weight: 700;
}

.content .main-title {
  font-size: 24px;
  line-height: 28px;
}

.content .service-title {
  font-size: 18px;
  line-height: 21px;
}

.content .main .content-title {
  font-size: 24px;
  line-height: 28px;
}

.content .main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .main .cards .card {
  margin-bottom: 35px;
  max-width: 264px;
}

.content .main .cards .card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.content .main .cards .card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .main .cards .card-header {
  margin-top: 8px;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .main .cards .card-header__title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
}

.content .main .cards .card-price {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #0a143a;
  margin-bottom: 10px;
}

.content .main .cards .card-text {
  margin-bottom: 4px;
  color: #c4c4c4;
}

.content .sidebar .service:not(:last-child) {
  margin-bottom: 25px;
}

.content .sidebar .service-title {
  color: #0a143a;
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 5px;
}

.content .sidebar .service-text {
  color: #0a143a;
  max-width: 217px;
}

.content .sidebar .footer {
  margin-top: 18px;
}

.content .sidebar .footer-text {
  color: #c4c4c4;
}

.content .sidebar .footer-menu {
  margin-bottom: 16px;
}

.content .sidebar .footer-menu__item {
  margin-top: 5px;
}

.content .sidebar .footer-menu__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #c4c4c4;
}

.content .sidebar .footer-link {
  color: inherit;
  font-size: 12px;
  line-height: 14px;
}

.single-content ._container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.single-content .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.single-content .main .content {
  max-width: 460px;
}

.single-content .main .content-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.single-content .main .content .mySwiper2 {
  height: 357px;
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
}

.single-content .main .content .mySwiper {
  height: 20%;
  padding: 10px 0;
  border-radius: 3px;
}

.single-content .main .content .mySwiper .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: .4;
}

.single-content .main .content .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.single-content .main .content .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

.single-content .main .content-text {
  line-height: 140%;
  margin-top: 20px;
}

.single-content .main .author {
  margin-left: 30px;
  min-width: 264px;
}

.single-content .main .author .single-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.single-content .main .author-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 30px;
}

.single-content .main .author-info__name {
  font-weight: 700;
}

.single-content .main .author-info .rating {
  margin-top: 4px;
}

.single-content .main .author-info .rating-counter {
  opacity: .5;
  margin-left: 8px;
}

.single-content .main .author-info__status {
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
}

.single-content .main .author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-content .main .author .button-group .button {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  height: 54px;
}

.single-content .main .author .button-group .button-success {
  background: #14b4be;
  color: #fff;
}

.single-content .sidebar-banner {
  display: block;
  margin-bottom: 7px;
}

.single-content .sidebar-banner img {
  height: 185px;
}

.single-content .sidebar .footer {
  margin-top: 18px;
}

.single-content .sidebar .footer-text {
  color: #c4c4c4;
}

.single-content .sidebar .footer-menu {
  margin-bottom: 16px;
}

.single-content .sidebar .footer-menu__item {
  margin-top: 5px;
}

.single-content .sidebar .footer-menu__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #c4c4c4;
}

.single-content .sidebar .footer-link {
  color: inherit;
  font-size: 12px;
  line-height: 14px;
}